<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}Characters</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p> Character Profile </p>
    {{{body}}}
  </body>
</html>
