<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}House</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>House View </p>
    {{{body}}}
  </body>
</html>
