<div class="container" id="houseIndexWrapper">
  <header>

  <h1>{{title}}</h1>
  <h2>Welcome to {{title}}</h2>
 </header>


  <div class = "display-houses">
  <div>
      <div class="Roa-id"><img src="#"></div>
      <p id="roa-id">ROA</p>
      <div class="Tieke-id"><img src="#"></div>
      <p id="tieke-id">TIEKE</p>

  </div>
  <div>
      <div class="Kotari-id"><img src="#"></div>
      <p id="kotari-id">KOTARE</p>
      <div class="Hihi-id"></div>
      <p id="hihi-id">HIHI</p>
  </div>


</div>



