


<div class="container" id="houseIndexWrapper">
  <header>

  <h1>Game of DEVs</h1>
 </header>


  <div class ="display-houses">
    {{#each Houses}}
      <div class="house">
          <p>{{name}}</p>
          <a href="/house/{{id}}"><img src="{{imagePath}}" class="houseimage"></a>
      </div>
    {{/each}}
  </div>

</div>




