
<div>
<h3>Add a New House to Game of Devs</h3>
</div>
<div>
<form method="POST" class="addHouse" id="addHouse" action="/newhouse"/>

  House Name: <input id="name" type="text" name="name" placeholder="House Tieke"></input>
  Image Path: <input id="imagePath" type="text" name="imagePath" placeholder=""></input>
  House History: <input id="description" type="text" name="description" placeholder="Has reigned the Kingdoms of the North for centuries"></input>
  <input type="submit" id="submit" Button value="Enter The Kingdom"></input>
</form>
</div>
