@font-face {
    font-family: GOTfont;
    src: url(GameofThrones.ttf);
}
html {
    background: url(../images/kings-landing.jpg) no-repeat center center fixed;
    background-size: cover;
    text-align:center;
    font-size:20px;
    height: 100%;
    letter-spacing: 2px;

}

body {
  padding: 0;
  margin: 0;
  font-family: GOTfont;
  height: auto;
}

nav a {
  display: inline-flex;
  padding-right: 30px;
  margin-top:50px;

}

h1 {
  color:gold;
}
h2 {
  color:gold;
  font-style: italic;
}

a {
  color: black;
  text-decoration: none;
  font-size: 25px;
}
#roa-id {

  text-align:center;

}
#tieke-id {

  text-align:center;
}
#kotari-id {

  text-align:center;
}
#hihi-id {

  text-align:center;
}
.display-houses {
  max-width: 800px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: gold;

}
/*.houses-id {
  display: flex;
  justify-content: space-around;
  background-color: cornflowerblue;
  width: 300px;
  height: 300px;
  margin: 30px;
}*/
.Roa-id {
 display: flex;
  justify-content: space-around;
  outline: solid black 1px;
  width: 300px;
  height: 300px;
  margin: 30px;
}
.Hihi-id {
 display: flex;
  justify-content: space-around;
  outline: solid black 1px;
  width: 300px;
  height: 300px;
  margin: 30px;
}
.Kotari-id {
 display: flex;
  justify-content: space-around;
  outline: solid black 1px;
  width: 300px;
  height: 300px;
  margin: 30px;
}
.Tieke-id {
 display: flex;
  justify-content: space-around;
  outline: solid black 1px;
  width: 300px;
  height: 300px;
  margin: 30px;
}
header {
float:center;

}

#houseIndexWrapper {

  height: auto;

}

#footer {
  position: relative;
  top: 820px;
  color: white;
}
.container {
  display: flex;
justify-content: center;
  align-items: center;
  margin-top:100px;
}

.houseimage {
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  width: 300px;
  height: 250px;

}

.house-view {

  display: inline-flex;
  color: gold;

}
.houseimage2 {
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  width: 360px;
  height: 250px;
  margin-bottom: 30px;
  margin-top: 20px;
}
.houseDetails {
  text-align: left;
  padding-left: 5%;
  max-width: 790px;
}

.houseDetails h1 {
 color: gold;
}

.houseDetails p {
 color: #000;
}
.members {
max-width: 600px;
text-align: left;
margin-left: 20px;

}
.members h3 {
margin-bottom: -1px;
text-align: left;
color: gold;
}

.members img{
  width:100px;
  height:130px;
}

.wrapper {
background-color: rgba(255, 255, 255, 0.2);
width:1100px;
padding-right: 50px;
padding-left: 50px;
margin-right: 20%;
margin-left: 20%;
}



