<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="
https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.css">
  </head>
  <body>
    <nav>
     <a href="/newcharacter/">Add New House</a>
     <a href="/newhouse">Add New Character</a>
   </nav>
    {{{body}}}
    <div id="footer">
      <p>Made by Olly, Surya, Uili and Hape</p>
    </div>
  </body>
</html>
